@model LoanSummaryViewModel

<h2>Loan Summary</h2>

<table>
    <tr>
        <td>Loan Amount:</td>
        <td>@Model.Amount</td>
    </tr>
    <tr>
        <td>Loan End Date:</td>
        <td>@Model.EndDate</td>
    </tr>
    <tr>
        <td>Account Number:</td>
        <td>@Model.AccountNumber</td>
    </tr>
    <tr>
        <td>Yearly Interest:</td>
        <td>@Model.YearlyInterest</td>
    </tr>
    <tr>
        <td>Interest Rate:</td>
        <td>@Model.Interestrate</td>
    </tr>
</table>

